@font-face {
    font-family: 'Merienda One';
    src: url('MeriendaOne-Regular.woff2') format('woff2'),
        url('MeriendaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

